### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(11)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74

## Player Count

* Display the total number of players

In [3]:
#Showing Total Number of Players by using the lenth of SN
total_number_of_player = len(purchase_data ["SN"].value_counts())
Sum_Players = pd.DataFrame({"Total Players": [total_number_of_player]})
Sum_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#* Number of Unique Items
#* Average Price
#* Total Number of Purchases
#* Total Revenue


#* Number of Unique Items
number_of_unique_items = len((purchase_data["Item ID"]).unique())

#* Average Purchase Price
Average_Purchase_Item = (purchase_data["Price"]).mean()

#* Total Number of Purchases
Total_Number_of_Purchase = (purchase_data["Purchase ID"]).count()


#Total Revenue
total_revenue = (purchase_data["Price"]).sum()


# using data frame to get the summary of all
summary = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],"Average Price":[Average_Purchase_Item],"Number of Purchases": [Total_Number_of_Purchase],"Total Revenue": [total_revenue]})

# Format with currency with dollar sign 2 decimal
summary.style.format({'Average Price':"${:,.2f}",'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Purchasing Analysis by Gender(Male, Female,Other/Non-Disclosed)
demographics = purchase_data.groupby("Gender")
demographics_count_gender = demographics.nunique()["SN"]

# demographics by gender and divivde by total players 
percentage_players = demographics_count_gender / total_number_of_player * 100

# Using Data Frame
demographics_gender = pd.DataFrame({"Total Count": demographics_count_gender, "Percentage of Players": percentage_players})


demographics_gender.index.name = None
# Format with currency with dollar sign 2 decimal
demographics_gender.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#* Purchase Count(Total)
purchasing = demographics["Purchase ID"].count()

#* Average Purchase Price
average_purchasing_amount = demographics["Price"].mean()

#* Average Purchase Price
average_purchasing_sum = demographics["Price"].sum()

# Average purchase by individual
average_individual = average_purchasing_sum/demographics_count_gender

# using DataFrame
demographics = pd.DataFrame({"Purchase Count": purchasing,"Average Purchase Price": average_purchasing_amount,"Average Purchase Value":average_purchasing_sum,"Avg Purchase Total per Person": average_individual})

# Provide calculation"Gender"
demographics.index.name = "Gender"

# Format with currency with dollar sign 2 decimal
demographics.style.format({"Average Purchase Value":"${:,.2f}","Average Purchase Price":"${:,.2f}","Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  #* Purchase Count
  #* Average Purchase Price
  #* Total Purchase Value
  #* Average Purchase Total per Person by Age Group

bins_age = ([0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999])
group_names = (["<10", 
                "10-14", 
                "15-19", 
                "20-24", 
                "25-29", 
                "30-34", 
                "35-39", 
                "40+"])

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins_age, labels = group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
grouped_age = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = grouped_age["SN"].nunique()

# Calculate the numbers and percentages by age group
percentage_by_age = (total_count_age/total_number_of_player) * 100

# Using Data frame.
demographics_by_age = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players": percentage_by_age})

# Format with currency with dollar sign 2 decimal
demographics_by_age.index.name = None
demographics_by_age.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#* The below each broken by gender
  #* Purchase Count
  #* Average Purchase Price
  #* Total Purchase Value
  #* Average Purchase Total per Person by Gender

#Purchase Count
age_purchase_count = grouped_age["Purchase ID"].count()
average_purchase_price = grouped_age["Price"].mean()
sum_purchase = grouped_age["Price"].sum()

# average purchase per person in the age group 
average_purchase_group = sum_purchase/total_count_age

# Create data frame with obtained values
demographics_by_age = pd.DataFrame({"Purchase Count": age_purchase_count,"Average Purchase Price": average_purchase_price,"Total Purchase Value":sum_purchase,"Average Purchase Total per Person": average_purchase_group})

# Format the data frame with to give index name Age Ranges
demographics_by_age.index.name = 'Age Ranges'

# Format with currency with dollar sign 2 decimal
demographics_by_age.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  #* SN
  #* Purchase Count
  #* Average Purchase Price
  #* Total Purchase Value
    
# Group purchase data by SN(Screen name)
top_spender = purchase_data.groupby("SN")

# Count the total purchases by name
count_spender = top_spender["Purchase ID"].count()

# Calculate the average purchase by name 
average_price_spender = top_spender["Price"].mean()

# Calculate purchase  
sum_spender = top_spender["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": count_spender,"Average Purchase Price": average_price_spender,"Total Purchase Value":sum_spender})

# filter in descending order to obtain top 5 spender
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending = False).head()

# Format with currency with dollar sign 2 decimal
formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#* Identify the 5 most popular items by purchase count, then list (in a table):
  #* Item ID
  #* Item Name
  #* Purchase Count
  #* Item Price
  #* Total Purchase Value
    

#get the item id,item name,price (DataFrame) 
most_items_df = purchase_data[["Item ID", "Item Name", "Price"]]
most_item_stats = most_items_df.groupby(["Item ID","Item Name"])

#write the result to two columns
most_purchase_count_item = most_item_stats["Price"].count()
Total_purchase_value = (most_item_stats["Price"].sum())

# Find individual item price
item_price = Total_purchase_value/most_purchase_count_item


# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": most_purchase_count_item,"Item Price": item_price,"Total Purchase Value":Total_purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency with dollar sign 2 decimal
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#* Identify the 5 most profitable items by total purchase value, then list (in a table):
  #* Item ID
  #* Item Name
  #* Purchase Count
  #* Item Price
  #* Total Purchase Value
    
   # Sort by most profitable (highest Total Purchase Value=most profitable) in descending order
most_profitable_items_df = most_popular_items.sort_values(['Total Purchase Value'], ascending=False).head()

# Format into $0.00 for price and total purchase value
most_profitable_items_df.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})